@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,200;1,400;1,500&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    cursor : pointer;
}

#wrapper {

    width: 100%;
    height: 100vh;
}
#header {
    width: 100%;
    padding:0px 30px;
    margin-top:33px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#main{
    list-style: none;
    display: flex;
}
#main .item{
    margin:0px 25px;
}
#main .item a{
    color:black;
    text-decoration: none;
}

#banner {
    width: 100%;
    background-image :url(assets/banner1.jpg);
    height:750px;
    margin-top:10px;
    display:flex;
    padding:0px 133px;
    position:relative;
}
#banner .box-left ,#banner .box-right {
    width: 100%;
}
#banner .box-left h2{
    font-size:40px;
    margin-top:25px;
    color:#fff;
}
#banner .box-right {
    padding-left:200px;
    display:flex;
    justify-content: center;
    align-tiems: center;
}
#banner .box-right img {
    width:350px;
    height:auto;
    border-radius: 40px;
    margin:0px 10px;
    animation :animation 3s infinite linear;
}
#banner .box-right img:nth-child(1)
{
    animation-delay: 0.5s;
}
#banner .box-right img:nth-child(2)
{
    animation-delay: 1s;
}

@keyframes animation {
    0%{
        transform:translateY(0px);
    }
    50%{
        transform:translateY(-10px);
    }
    100%{
        transform:translate(0px);
    }
}